@import "fonts";

body {
  font-size: 17px;
  display: block;
}

span {
  font-size: 20px;

  @media (max-width:767px) {
    font-size: 15px;
  }
}

div {
  font-size: 30px;

  @media (max-width:767px) {
    font-size: 20px;
  }
}