doctype html
html(lang="en")
    head
      title pageTitle
    body
      h1  
      #container.colg fjhg
     

h1.title


      .cols Lorem ipsum dolor sit.
      #codi Lorem ipsum dolor sit amet
      p.
        Lorem, ipsum dolor sit amet

