doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Работа с flexbox CSS
  body
    section.heading 
      h1.heading_title Как рабоать с FlexBox CSS 
      p.heading_intro Качаемся вместе с WAYUP 
    section.case#case 
      h2.case_title Кейс 1
