.header {
  font-size: 20px;
  background-color: #3149E5;
  color: #f0f;
}
.section {
  font-size: 15px;
  background-color: #3149E5;
  color: #f0f;
}
.footer {
  font-size: 4rem;
  background-color: #3149E5;
  color: #f0f;
}
